
Resolução Exames/Exame 20_21/.history/

CodeRunner/.history/

CodeRunner/Ex3 - Função Comuns/.history/

Guiões/Guião 0/.history/

Guiões/Guião 1/.history/

Guiões/Guião 2/.history/

Guiões/Guião 2/Ex3/.history/

Guiões/Guião 2/Ex6/.history/

Resolução Exames/.history/

Resolução Exames/.vscode/

Resolução Exames/Exame 20_21/.vscode/

Guiões/Guião 0/.vscode/

Resolução Exames/Exame 20_21_normal/.history/

Resolução Exames/Exame 20_21_normal/.vscode/

Resolução Exames/Exame 20_21_Recurso/Parte1/.history/

Resolução Exames/Exame 20_21_Recurso/.history/

Guiões/Guião 4/Ex13/.history/

Guiões/Guião 4/Ex15/.history/

Resolução Exames/Exame 20_21_Especial/.history/
